
  <style>
    td::after {
      border: none!important;
    }
    table {
      margin: 0 !important;
    }
  </style>
  {%- assign microdata = product.metafields.WIREMO_PRODUCTS -%}
  {%- assign shop_meta = shop.metafields.wiremo -%}
  {%- assign wiremo_widget_lite_product_url = product.url -%}
  {%- assign theme_name = theme.name -%}
  {% if theme_name == "Boundless" %}
    {%- assign z_index = 1 -%}
  {% else %}
    {%- assign z_index = 999 -%}
  {% endif %} 
  {% if shop_meta.hide_no_reviews == 0  or microdata.WIREMO != blank and microdata.WIREMO.statistics.reviewCount != 0 %}
  <div style="position:relative;z-index:{{z_index}}">
      <wiremo-widget-lite onclick="event.preventDefault();window.location.href='{{wiremo_widget_lite_product_url}}#wiremo-widget'" data-type=2 data-source="{{ product.id }}" data-platform="shopify">
        {% render "wiremo-widget-lite-preload", product: product %}
      </wiremo-widget-lite>
  </div>
  {% endif %}
