


  <div class="singel-accordian">
    <button class="accordion">{{ section.settings.title }}</button>
    {% for item in section.blocks %}
        <div class="panel">
         <a href="{{ item.settings.link }}" class="panel-with-btn">{{ item.settings.btn }}</a>
        </div>
      {% endfor %}

    </div>
    





    <style>
      .lading-page{
       text-align:center;
      }


    .singel-accordian {
      max-width: 360px;
      display: block;
      margin: 0 auto;
      text-align: center;
  }
      .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
      
      .active, .accordion:hover {
        background-color: #ccc; 
      }
      
      .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
      }
      </style>
{% schema %}
  {
    "name": "Loading page Header",
    "class": "lading-page",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title Name",
      "default": "Wall Sconces",
      "placeholder": "Wall Sconces"
    }
    ],
    "blocks": [
      {
        "type": "button",
        "name": "Hyperlink",
        "settings": [
          {
            "type": "text",
            "id": "btn",
            "label": "Select your btn title",
            "default": "Sconces",
            "placeholder": "Sconces"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Select your Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "landing page button"
      }
    ]
  }
{% endschema %}
