

<section class="collection-list__container ">
  <div class="slider-header">
   <p>{{ section.settings.title }}</p>
   <a href="{{section.settings.url}}" class="btn">{{ section.settings.btn-text}}</a>
  </div>
    <div class="slider-proudct">
    <!-- First slider codes -->

    
    </div>
  
</section>
<section class="splide" id="first-slider" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">Slide 01</li>
        <li class="splide__slide">Slide 02</li>
        <li class="splide__slide">Slide 03</li>
      </ul>
    </div>
  </section>

<style>


    section {
        margin: 2rem;
      }
      
      .splide__slide {
        background-color: tomato;
        padding: 6rem 2rem;
        text-align: center;
        font-size: 2rem;
      }
      
      #second-slider .splide__slide {
        background-color: BlueViolet;
      }
      </style>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        let splide = new Splide( '#first-slider', {
            pagination :    true ,
                      paginationKeyboard: true,
                        type   : 'loop',
                        drag   : 'free',
                        perPage: 4,
                        perMove: 3,
                        rewindSpeed: 100,
                        rewindByDrag:true,
                        breakpoints: {
                            1020: {
                                perPage: 3,
                                perMove: 2,
                            },
                            640: {
                                perPage: 2,
                                perMove: 1,
                            }
                          }
                      } );
                      
                      splide.mount(); 
    });

</script>


{% schema %}
  {
    "name": "Loading  Related product",
    "class": "lading-page-product",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title Name",
      "default": "Wall Sconces",
      "placeholder": "Wall Sconces"
    }
    ],
    "blocks": [
      {
        "type": "button",
        "name": "Hyperlink",
        "settings": [
          {
            "type": "text",
            "id": "btn",
            "label": "Select your btn title",
            "default": "Sconces",
            "placeholder": "Sconces"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Select your Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "landing related proudct"
      }
    ]
  }
{% endschema %}
