<article class="site-page" data-template-page>
  <header class="page-masthead">
    <p class="page-title-h">
      {{ section.settings.title }}
    </p>


  </header>

</article>



<script>

document.addEventListener("DOMContentLoaded", () => {
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}

});
</script>

<style>

 .page-title-h {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    flex-shrink: 0;
    flex-basis: auto;
    overflow-wrap: break-word;
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
    background-color: transparent;
}
</style>




{% schema %}
  {
    "name": "landing page Header",
    "class": "lading-page",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Page title",
      "default": "OUR COLLECTIONS",
 
      "placeholder": "OUR COLLECTIONS"
    }
    ],
    "presets": [
      {
        "name": "landing page header"
      }
    ]
  }
{% endschema %}
